{% extends 'index_main.html' %}
{%load static%}
{% block content %}
<!-- HERO SECTION  -->
<div id="contact" class="contact-area section-padding py-5">
	<div class="container pt-1">
		<div class="section-title text-center">
			<h1>Get in Touch</h1>
			<p>{{contact.contact_page_para}}</p>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="contact contact-box card mb-lg-0">
					<form class="form" name="enq" method="post">{% csrf_token %}
						<div class="row">
							<div class="form-group col-md-6">
								<input type="text" name="name" class="form-control" placeholder="Name" maxlength="25"
									required="required">
							</div>
							<div class="form-group col-md-6">
								<input type="email" name="email" class="form-control" placeholder="Email"
									required="required">
							</div>
							<div class="form-group col-md-12">
								<input type="text" name="subject" class="form-control" placeholder="Subject" maxlength="50"
									required="required">
							</div>
							<div class="form-group col-md-12">
								<textarea rows="6" name="message" class="form-control" placeholder="Your Message" maxlength="300"
									required="required"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" value="Send message" name="submit" id="submitButton"
									class="btn btn-contact-bg" title="Submit Your Message!">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!--- END COL -->
			<div class="col-lg-5 rounded">
				<iframe class="card" height="100%" width="100%"
					src="https://www.google.com/maps/d/u/0/embed?mid=1vaLFEABYV6FjIFpzC4O8xLRJpOi7t0o&ehbc=2E312F"
					style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="col-lg-12 mt-5 contact-icons d-flex flex-row justify-content-center align-items-center">
				<div class="col-lg-3 single_address">
					<a href="{{contact.map_link}}" target="_blank" class="text-decoration-none  d-flex flex-column justify-content-center align-items-center"><i
						class="fa-solid fa-location-dot"></i>
					<h4>Our Address</h4>
					<p class="text-center">{{contact.address}}</p></a>
				</div>
				<div class="col-lg-3 single_address">
					<a href="mailto:{{contact.email}}" target="_blank" class="text-decoration-none d-flex flex-column justify-content-center align-items-center"><i
						class="fa fa-envelope"></i>
					<h4>Send your message</h4>
					<p class="text-center">{{contact.email}}</p></a>
				</div>
				<div class="col-lg-3 single_address">
					<a href="tel:{{contact.number}}" target="_blank" class="text-decoration-none d-flex flex-column justify-content-center align-items-center"><i
						class="fa fa-phone"></i>
					<h4>Call us on</h4>
					<p class="text-center">{{contact.number}}</p></a>
				</div>
				<div class="col-lg-3 single_address d-flex flex-column justify-content-center align-items-center">
					<i class="fa fa-clock-o"></i>
					<h4>Work Time</h4>
					<p class="text-center">{{contact.work_time}}</p>
				</div>
			</div>
			<!--- END COL -->
		</div>
		<!--- END ROW -->
	</div>
	<!--- END CONTAINER -->
</div>

<div id="facts" class="facts mbr-box mbr-section mbr-section--relative">
    <div class="container">
        <div class="row mb-3 center">
            <div class="col-md-12 col-sm-12">
                <h3>Our Branches</h3>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                  <div class="card l-bg-cherry-2">
                    <div class="card-content">
                      <div class="row">

                        <div class="col-lg-3 single_address">
					<a href="https://www.google.com/maps/d/u/0/viewer?mid=1vaLFEABYV6FjIFpzC4O8xLRJpOi7t0o&ll=53.280216200000005%2C-9.078886599999995&z=8" target="_blank" class="text-decoration-none  d-flex flex-column justify-content-center align-items-center">
                        <img  src="{% static 'index/assets/img/ireland.png'%}" class="fa-solid fa-location-dot" style="height:80px;width:80px;border-radius:5px">
					<h4>WordDealers, Ireland</h4>
					<p class="text-center"></p></a>
				</div>
                          <div class="col-lg-3 single_address">
					<a href="https://www.google.com/maps/d/u/0/viewer?mid=1vaLFEABYV6FjIFpzC4O8xLRJpOi7t0o&ll=18.521425499999992%2C73.85585269999999&z=8" target="_blank" class="text-decoration-none  d-flex flex-column justify-content-center align-items-center">
                        <img src="{% static 'index/assets/img/pune.png'%}" class="fa-solid fa-location-dot" style="height:80px;width:80px;">
					<h4>WordDealers, Pune</h4>
					<p class="text-center"></p></a>
				</div>
                          <div class="col-lg-3 single_address">
					<a href="https://www.google.com/maps/d/u/0/viewer?mid=1vaLFEABYV6FjIFpzC4O8xLRJpOi7t0o&ll=12.923301300000016%2C80.09478989999998&z=8" target="_blank" class="text-decoration-none  d-flex flex-column justify-content-center align-items-center">
                        <img src="{% static 'index/assets/img/chennai.png'%}" class="fa-solid fa-location-dot" style="height:80px;width:80px;">
					<h4>WordDealers, Chennai</h4>
					<p class="text-center"></p></a>
				</div>
                          <div class="col-lg-3 single_address" >
					<a href="https://www.google.com/maps/d/u/0/viewer?mid=1vaLFEABYV6FjIFpzC4O8xLRJpOi7t0o&ll=28.605969999999996%2C77.29712010000001&z=8" target="_blank" class="text-decoration-none  d-flex flex-column justify-content-center align-items-center">
                        <img src="{% static 'index/assets/img/delhi.png'%}" class="fa-solid fa-location-dot" style="height:80px;width:80px;">
					<h4>WordDealers, Delhi</h4>
					<p class="text-center"></p></a>
				</div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

    </div>


<style>
	.main-header,
	.main-footer {
		background-color: #9c64c1eb;
	}

	.main-footer {
		padding-top: 2rem;
		z-index: 1;
	}

	.box-header {
		position: relative;
	}
</style>
{% endblock content %}