{% extends 'index_main.html' %}
{%load static%}
{% block content %}
<!-- HERO SECTION  -->
<div id="contact" class="contact-area section-padding py-5">
	<div class="container pt-1">
		<div class="section-title text-center">
			<h1>Get in Touch</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim.
				Aenean vitae metus in augue pretium ultrices.</p>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="contact contact-box card mb-lg-0">
					<form class="form" name="enq" method="post">{% csrf_token %}
						<div class="row">
							<div class="form-group col-md-6">
								<input type="text" name="name" class="form-control" placeholder="Name" maxlength="25"
									required="required">
							</div>
							<div class="form-group col-md-6">
								<input type="email" name="email" class="form-control" placeholder="Email"
									required="required">
							</div>
							<div class="form-group col-md-12">
								<input type="text" name="subject" class="form-control" placeholder="Subject" maxlength="50"
									required="required">
							</div>
							<div class="form-group col-md-12">
								<textarea rows="6" name="message" class="form-control" placeholder="Your Message" maxlength="300"
									required="required"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" value="Send message" name="submit" id="submitButton"
									class="btn btn-contact-bg" title="Submit Your Message!">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!--- END COL -->
			<div class="col-lg-5 rounded">
				<iframe class="card" height="100%" width="100%"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1414.3912398257123!2d75.89312089191041!3d22.735873861978245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd30233092c7%3A0x65245e9cfd4d7f3c!2sWord%20dealers%20pvt%20ltd!5e0!3m2!1sen!2sin!4v1651064748929!5m2!1sen!2sin"
					style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="col-lg-12 mt-5 contact-icons d-flex flex-row justify-content-center align-items-center">
				<div class="col-lg-3 single_address">
					<a href="{{contact.map_link}}" target="_blank" class="text-decoration-none  d-flex flex-column justify-content-center align-items-center"><i
						class="fa-solid fa-location-dot"></i>
					<h4>Our Address</h4>
					<p class="text-center">{{contact.address}}</p></a>
				</div>
				<div class="col-lg-3 single_address">
					<a href="mailto:{{contact.email}}" target="_blank" class="text-decoration-none d-flex flex-column justify-content-center align-items-center"><i
						class="fa fa-envelope"></i>
					<h4>Send your message</h4>
					<p class="text-center">{{contact.email}}</p></a>
				</div>
				<div class="col-lg-3 single_address">
					<a href="tel:{{contact.number}}" target="_blank" class="text-decoration-none d-flex flex-column justify-content-center align-items-center"><i
						class="fa fa-phone"></i>
					<h4>Call us on</h4>
					<p class="text-center">{{contact.number}}</p></a>
				</div>
				<div class="col-lg-3 single_address d-flex flex-column justify-content-center align-items-center">
					<i class="fa fa-clock-o"></i>
					<h4>Work Time</h4>
					<p class="text-center">{{contact.work_time}}</p>
				</div>
			</div>
			<!--- END COL -->
		</div>
		<!--- END ROW -->
	</div>
	<!--- END CONTAINER -->
</div>
<style>
	.main-header,
	.main-footer {
		background-color: #faabc6;
	}

	.main-footer {
		padding-top: 2rem;
		z-index: 1;
	}

	.box-header {
		position: relative;
	}
</style>
{% endblock content %}