{% extends 'index_main.html' %}
{%load static%}
{% block content %}
<!-- box-intro -->
<section class="box-intro">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="position: relative;">
            <img class="d-block w-100" style="height: 100vh;width: 100%;background-attachment: fixed;background-position: center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;" src="{% static 'index/assets/img/header.png' %}" alt="First slide">
            <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);">

                <h3 class="box-headline">
                    <b>{{index.tagline}}</b>
                </h3>
                <h1>{{index.main_heading}}</h1>
        
            </div>
          </div>
          <div class="carousel-item" style="position: relative;">
            <img class="d-block w-100" style="height: 100vh;width: 100%;background-attachment: fixed;background-position: center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;" src="{% static 'index/assets/img/contact_header.png' %}" alt="First slide">
            <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);">

                <h3 class="box-headline">
                    <b>{{index.tagline}}</b>
                </h3>
                <h1>{{index.main_heading}}</h1>
        
            </div>
          </div>
        </div>
      </div>
<!-- 
    <div class="table-cell">

        <h3 class="box-headline">
            <b>{{index.tagline}}</b>
        </h3>
        <h1>{{index.main_heading}}</h1>

    </div> -->
</section>
<!-- end box-intro -->

<!-- Ablout -->

<div id="facts" class="facts mbr-box mbr-section mbr-section--relative">
    <div class="container">
        <div class="row mb-3 center">
            <div class="col-md-12 col-sm-12">
                <h2>About Us</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                  <div class="card l-bg-cherry-2">
                    <div class="card-content">
                      <div class="row">
                        {% for stat in index.stats.all %}
                        <div class="col-lg-4 col-sm-12">
                          <div class="card-body text-center">
                            <h1 class="display-4"><i class="icon-camera font-large-2"></i>{{stat.stat_number}}</h1>
                            <span class="">{{stat.stat_text}}</span>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row ">
            <div class="col-md-12 col-sm-12">
                <p class="module-subtitle mb-0">{{ index.about }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 col-sm-12 text-center">
            <h3 class="py-3">Achievements</h3>
        </div>

        <div class="row owl-carousel owl-demo owl-theme">
            <div class="col-md-12 col-md-offset-2 col-sm-12">

                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                    <div class="card-body" style="overflow-y: auto">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, quod.</p>
                    </div>
                  </div>
        
              </div>
              <div class="col-md-12 col-md-offset-2 col-sm-12">

                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                    <div class="card-body" style="overflow-y: auto">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, quod.</p>
                    </div>
                  </div>
        
              </div>
              <div class="col-md-12 col-md-offset-2 col-sm-12">

                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                    <div class="card-body" style="overflow-y: auto">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, quod.</p>
                    </div>
                  </div>
        
              </div>
              <div class="col-md-12 col-md-offset-2 col-sm-12">

                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                    <div class="card-body" style="overflow-y: auto">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, quod.</p>
                    </div>
                  </div>
        
              </div>
        </div>
  </div>
</div>

<!-- TEAM -->
<section id="team" class="team mbr-box mbr-section mbr-section--relative pb-5">
    <div class="container">
        <div class="row mb-5 center">
            <div class="col-md-12 col-sm-12">
                <h2>Our Team</h2>
                <h5 class="">{{ index.team_heading }}
            </div>
        </div>



        <div class="row owl-carousel owl-demo owl-theme">
            {% for member in team %}
            <!-- single member -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="owl-item" style="min-height: 100%;">
                    <div class="card d-flex flex-column align-items-center justify-content-center py-5 px-4 mx-2" style="max-height:300px"><img
                            src="{{member.image.url}}" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">{{member.name}}</h5><span
                            class="small text-uppercase text-muted">{{member.designation}}</span>
                        <ul class="social mb-0 list-inline mt-3">
                            {% if member.facebook_link %}
                            <li class="list-inline-item"><a href="{{member.facebook_link}}" class="social-link"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            {% endif %}
                            {% if member.twitter_link %}
                            <li class="list-inline-item"><a href="{{member.twitter_link}}" class="social-link"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            {% endif %}
                            {% if member.instagram_link %}
                            <li class="list-inline-item"><a href="{{member.instagram_link}}" class="social-link"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            {% endif %}
                            {% if member.linkedin_link %}
                            <li class="list-inline-item"><a href="{{member.linkedin_link}}" class="social-link"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end single member -->
            {% endfor %}
        </div>
    </div>
    <div class="bottom-separator hidden-xs"></div>
</section>

<!-- SERVICES -->
<section id="services"
    class="pb-4 services mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row center">
            <div class="col-md-12 col-md-offset-2 col-sm-12">
                <div class="section-title-parralax">
                    <h2>services</h2>
                    <p class="module-subtitle">{{ index.services_heading }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-item-center">
            {% for service in services %}
            {% if forloop.counter|divisibleby:"2" == False%}
            <div class="col-lg-5 p-3 right col-full right-0 card l-bg-cherry mx-2">
                <i class="fa-solid {{service.icon}}"></i>
                <h6>{{service.name | upper}}</h6>
                <p>{{service.description}}</p>
            </div>

            {% else %}
            <div class="col-lg-5 p-3 left col-full left-0 card l-bg-cherry-invert mx-2">
                <i class="fa-solid {{service.icon}}"></i>
                <h6>{{service.name | upper}}</h6>
                <p>{{service.description}}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- CLIENTS -->
<section id="clients" class="section-bg">

    <div class="container">

        <div class="row mb-5 center">
            <div class="col-md-12 col-sm-12">
                <h2>Our Clients</h2>
                <h5 class="">{{ index.team_heading }}
            </div>
        </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp d-flex justify-content-center" style="visibility: visible; animation-name: fadeInUp;">
        {% for client in clients %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{client.image.url}}" class="img-fluid" alt="">
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </section>
<!-- Testimonials -->
<section id="testimoials" class="pb-3 mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted mbr-parallax-background" >
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Testimonials</h2>
                <div id="myCarousel" class="carousel card p-4 slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>   
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        {% for testimonial in testimonials1 %}
                        <div class="carousel-item active">
                            <div class="img-box"><img src="{{testimonial.image.url}}" alt=""></div>
                            <p class="testimonial">{{testimonial.testimonial}}</p>
                            <p class="overview"><b>{{testimonial.name}}</b>, {{testimonial.designation}}</p>
                        </div>
                        {% endfor %}
                        {% for testimonial in testimonials %}
                        <div class="carousel-item">
                            <div class="img-box"><img src="{{testimonial.image.url}}" alt=""></div>
                            <p class="testimonial">{{testimonial.testimonial}}</p>
                            <p class="overview"><b>{{testimonial.name}}</b>, {{testimonial.designation}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CLIENTS -->
<div id="getintouch" class=" pb-4 mt-25j mbr-box mbr-section mbr-section--relative">
    <div class="container">
        <div class=" d-flex justify-content-between align-items-center pt-4">
            <div class="">
                <h3>Get in Touch</h3>
            </div>
            <div ><a href="{%url 'contact'%}" class="getintouch-btn">Contact Us</a></div>
        </div>
    </div>
</div>
<style>
 
</style>


<style>
    #services, #testimoials {
  background-image: url("{% static 'images/services.png' %}");
  background-repeat: no-repeat;
}

.getintouch-btn{
    text-decoration: none;
    color: #fff;
    background-color: #9c64c1;
    padding: 1rem;
    border-radius: 15px;
    transition: transform .2s ease 0s;
}

.getintouch-btn:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(2);
}

    #clients{
        background-color: #c18de5a1;
        {% comment %} background-image: url("{% static 'images/services.png' %}"); {% endcomment %}
        background-repeat: no-repeat;
    }

	.main-header,
	.main-footer {
		background-color: #9c64c1eb;
	}

	.main-footer {
		padding-top: 2rem;
		z-index: 1;
	}

	.box-header {
		position: relative;
	}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}

#clients {
    padding: 60px 0;
    
}
#clients .clients-wrap {
    border-top: 1px solid #d6eaff;
    {% comment %} border-left: 1px solid #d6eaff; {% endcomment %}
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
}
 

</style>

{% endblock content %}