<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
	<title>WordDealers</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="{%static 'index/assets/img/favicon.ico'%}">

	<!-- STYLES -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{%static 'index/assets/css/flexslider.css'%}">
	<link rel="stylesheet" href="{%static 'index/assets/css/animsition.min.css'%}">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
	<link rel="stylesheet" href="{%static 'index/assets/css/owl.carousel.css'%}">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
	<link rel="stylesheet" href="{%static 'index/assets/css/owl.theme.css'%}">
	
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="{%static 'index/assets/css/style.css'%}">
</head>

<body class="animsition">
	<!-- Border -->
	<!-- <span class="frame-line top-frame visible-lg"></span>
	<span class="frame-line right-frame visible-lg"></span>
	<span class="frame-line bottom-frame visible-lg"></span>
	<span class="frame-line left-frame visible-lg"></span> -->
	<!-- HEADER  -->
	<header class="main-header">
		<div class="container-fluid px-0">
			<!-- box header -->
			<div class="box-header d-flex flex-row align-items-center">
				<div class="box-logo">
					<a href="{% url 'index' %}"><img src="{%static 'index/assets/img/logo.png'%}" width="60"
							alt="Logo"></a>
				</div>
				<!-- box-nav -->
				<a class="box-primary-nav-trigger" href="#">
					<span class="box-menu-icon"></span>
				</a>
				<!-- box-primary-nav-trigger -->
			</div>
			<!-- end box header -->

			<!-- nav -->
			<nav>
				<ul class="box-primary-nav">
					<li class="box-label">WordDealers</li>

					<li><a data-smooth="#" href="{% url 'index' %}#">Home</a> <i class="lnr lnr-home"></i></li>
					<li><a data-smooth="#services" href="{% url 'index' %}#services" onclick="
						$('.box-menu-icon').toggleClass('is-clicked'); 
						$('.box-header').toggleClass('menu-is-open');
						
						//in firefox transitions break when parent overflow is changed, so we need to wait for the end of the trasition to give the body an overflow hidden
						if( $('.box-primary-nav').hasClass('is-visible') ) {
							$('.box-primary-nav').removeClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',function(){
								$('body').removeClass('overflow-hidden');
							});
						} else {
							$('.box-primary-nav').addClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',function(){
								$('body').addClass('overflow-hidden');
							});	
						}
					">Services</a></li>
					<li><a data-smooth="#contact" href="{% url 'contact' %}">Contact</a></li>

					<li class="box-label">SOCIAL</li>

					<li class="box-social"><a href="{{index.facebook_link}}"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
					</li>
					<li class="box-social"><a href="{{index.instagram_link}}"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
					</li>
					<li class="box-social"><a href="{{index.twitter_link}}"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
					<li class="box-social"><a href="{{index.linkedin_link}}"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
					</li>
				</ul>
			</nav>
			<!-- end nav -->
		</div>
	</header>



	{%block content%}
	{%endblock content%}



	<!-- Footer -->
	<footer class="main-footer pt-2">
		<div class="container">
			<div class="row mt-25 footer-widgets">
				<!-- Start Contact Widget -->
				<div class="col-md-6 col-xs-12">
					<div class="footer-widget contact-widget">
						<img src="{%static 'index/assets/img/logo.png'%}" class="logo-footer img-responsive"
							alt="Footer Logo" width="60" />
						<h4>Social Media</h4>
						<ul class="social-icons">
							<li>
								<a class="facebook" href="{{index.facebook_link}}"><i class="fa-brands fa-facebook"></i></a>
							</li>
							<li>
								<a class="twitter" href="{{index.twitter_link}}"><i class="fa-brands fa-twitter"></i></a>
							</li>
							<li>
								<a class="linkdin" href="{{index.linkedin_link}}"><i class="fa-brands fa-linkedin"></i></a>
							</li>
							<li>
								<a class="instgram" href="{{index.instagram_link}}"><i class="fa-brands fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div><!-- .col-md-3 -->
				<!-- End Contact Widget -->

				<!-- Contact Us -->
				<div class="col-md-3 col-xs-12">
					<div class="footer-widget twitter-widget mb-3">
						<h4>Contact Us</h4>
						Address: {{contact.address}}<br>
						Phone: {{contact.number}}
					</div>
				</div><!-- .col-md-3 -->
				<!-- End Twitter Widget -->

				<!-- Start Flickr Widget -->
				<div class="col-md-3 col-xs-12">
					<div class="footer-widget company-links">
						<h4>Company</h4>
						<ul class="footer-links">
							<li><a data-smooth="#" href="#">About</a></li>
							<li><a data-smooth="#services" href="#services">Services</a></li>
							<li><a data-smooth="#clients" href="#clients">Our Clients</a></li>
							<li><a data-smooth="#team" href="#team">Team</a></li>
						</ul>
					</div>
				</div><!-- .col-md-3 -->
				<!-- End Flickr Widget -->
			</div><!-- .row -->

			<!-- Start Copyright -->
			<div class="copyright-section">
				<div class="row">
					<div class="col-md-6">
						<p>&copy; 2022 WordDealers - All Rights Reserved</p>
					</div><!-- .col-md-6 -->
				</div><!-- .row -->
			</div>
			<!-- End Copyright -->
		</div>
	</footer>

	<!-- SCRIPTS -->
	<script type="text/javascript" src="{%static 'index/'%}assets/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/animated-headline.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/menu.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/modernizr.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/isotope.pkgd.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/jquery.flexslider-min.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/jquery.animsition.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/init.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/main.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/smooth-scroll.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/numscroller.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/wow.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'index/assets/js/owl.carousel.min.js'%}"></script>
	<script type="text/javascript">
		$(window).load(function () {
			new WOW().init();

			// initialise flexslider
			$('.flexslider').flexslider({
				animation: "fade",
				directionNav: false,
				controlNav: true,
				keyboardNav: true,
				slideToStart: 0,
				animationLoop: true,
				pauseOnHover: false,
				slideshowSpeed: 4000,
			});

			smoothScroll.init();

			// initialize isotope
			var $container = $('.portfolio_container');
			$container.isotope({
				filter: '*',
			});

			$('.portfolio_filter a').click(function () {
				$('.portfolio_filter .active').removeClass('active');
				$(this).addClass('active');

				var selector = $(this).attr('data-filter');
				$container.isotope({
					filter: selector,
					animationOptions: {
						duration: 500,
						animationEngine: "jquery"
					}
				});
				return false;
			});
		});
	</script>
	<script>
		var TopOffset = 85;

		$('a[data-smooth]').click(function () {
			if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					$('html, body').animate({
						scrollTop: target.offset().top - TopOffset
					}, 1000);
					return false;
				}
			}
		});
	</script>
</body>

</html>